<ion-header>
  <ion-navbar>
    <ion-title>
      Sonidos
    </ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!ordenando" (click)="ordenando = true">
              ordenando
            </button>
      <button ion-button *ngIf="ordenando" (click)="ordenando = false">
                    Listo
                  </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher [enabled]="!ordenando" (ionRefresh)="recargar_animales($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Sigue jalando" refreshingSpinner="circles" refreshingText="Recargando..."></ion-refresher-content>
  </ion-refresher>
  <ion-list [reorder]="ordenando" (ionItemReorder)="reordenar_animales($event)">
    <ion-item-sliding *ngFor="let animal of animales; let i =index">
      <ion-item (click)="reproducir(animal)">
        <ion-avatar item-start>
          <img [src]="animal.imagen">
        </ion-avatar>
        <h2>{{animal.nombre}}</h2>
        <ion-icon *ngIf="!animal.reproduciendo" item-end name="play"></ion-icon>
        <ion-icon *ngIf="animal.reproduciendo" item-end name="pause"></ion-icon>
        <p>este es un texto de descripcion</p>

      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrar_animal(i)">
          <ion-icon name="trash"></ion-icon>
            Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer >
  <ion-toolbar >
    <p align="center">Powered by ©Rommel</p>
  </ion-toolbar>
</ion-footer>
